<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.SIRISConnectionReportes"
            connectionString="Data Source=ADMINISTRADOR-S\SQLEXPRESS;Initial Catalog=SIRIS;Persist Security Info=True;User ID=sa;Password=adsi2017"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>